<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net4" />
  <package id="dotless" version="1.5.1" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.Core" version="1.2.4" targetFramework="net4" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.2.11" targetFramework="net45" />
  <package id="libsassnet.x64" version="3.2.5.1" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="1.5.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>