<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net4" />
  <package id="dotless" version="1.5.2" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.Core" version="2.2.0" targetFramework="net45" />
  <package id="libsassnet" version="3.3.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net45" />
</packages>