<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample MVC Document</title>
    <link rel="stylesheet" href="/css.axd?path=import.css|less-import.less|iom" />
</head>
<body>
    <div class="snake">
        @this.RenderBody()
    </div>
    <script src="/js.axd?path=jquery"></script>
    <script src="/js.axd?path=jquery.1.9.1.js"></script>
</body>
</html>
