<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample MVC Document</title>
    <link rel="stylesheet" href="/css.axd?path=import.css|less-import.less" />
</head>
<body>
    <div>
        @this.RenderBody()
    </div>
    <script src="/js.axd?path=jquery"></script>
</body>
</html>
