<div class="box">
    <h1>This should be white</h1>
    <h2>This should be blue</h2>
    <h3>This should be red</h3>
</div>

<div class="flex">
      <div>uno</div>
      <div>due</div>
      <div>tre</div>
</div>

<div class="test-absolute-relative-path">
    <h1>This should be white and XXLarge</h1>
    <h2>This should be blue and XXLarge</h2>
    <h3>This should be red and XXLarge</h3>
    <div class="test-absolute-relative-path-image1"></div>
    <div class="test-absolute-relative-path-image2"></div>
</div>

