.snake {
    background: url(../images/bg.jpg) center center no-repeat;
    height: 389px;
}

#header {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#footer {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
